
<div class="ng-cloak">
  <md-content class="md-margin"></md-content>
  <md-card>
    <md-card-header>
      <md-card-header-text><span class="md-title">The Quibbler</span><span class="md-subhead">The Wizarding World's Alternative Voice</span></md-card-header-text>
    </md-card-header>
    <md-card-content>
      <p>
        The Quibbler aggregates relevant news flagged as "fake news" by the 
        media. It also provides links to corresponding Reddit discussions.
        It works by using "fake news" lists like the ones published by
        Washington Post. It also uses lists of news that is removed from social media.
      </p>
    </md-card-content>
  </md-card>
</div>