//output: ../../views/about.html
.ng-cloak
  md-content(class="md-margin")
  md-card
    md-card-header
      md-card-header-text
        span.md-title The Quibbler
        span.md-subhead The Wizarding World's Alternative Voice
    md-card-content
      p
        | The Quibbler aggregates relevant news flagged as "fake news" by the 
        | media. It also provides links to corresponding Reddit discussions.
        | It works by using "fake news" lists like the ones published by
        | Washington Post. It also uses lists of news that is removed from social media.
