//output: ../../views/contact.html
.ng-cloak
  md-content(class="md-margin")
  md-card
    md-card-header
      md-card-header-text
        span.md-title Luna Lovegood
        span.md-subhead Wit beyond measure is man's greatest treasure
    md-card-content
      p
        | Hom ckxpt faji yfsrxa ukqlb fgmw hom rzvj edzwn. Hf bmae qm za mrmphwfaxp qzxr kbm hoxb zeewmbb: medxaomwm zh yqzxr efh pfq.
