//output: ../../views/home.html
.ng-cloak
  md-content(class="md-margin")
    section(layout='row', layout-sm='column', layout-align='center center', layout-wrap='')
      md-button.md-primary(ng-click="ctrl.download('day')") Daily
      md-button.md-primary(ng-click="ctrl.download('week')")  Weekly
      md-button.md-primary(ng-click="ctrl.download('month')")  Monthly
      md-button.md-primary(ng-click="ctrl.download('year')")  Yearly
      md-button.md-primary(ng-click="ctrl.download('all')")  All Time
  div(ng-show="ctrl.loading" layout='row', layout-sm='column', layout-align='space-around')
    md-progress-circular(md-mode='indeterminate')
  md-list(ng-cloak)
    md-card(ng-repeat="listing in ctrl.list")
      md-card-title
        md-card-title-text
          span.md-title
            a(href="{{listing.url}}" ng-bind-html="listing.title" target="_blank")
      md-card-actions(layout='row', layout-align='end center')
        md-button(href='{{"https://reddit.com" + listing.permalink}}' target="_blank") {{listing.ups}} votes
        md-button(href='{{"https://reddit.com" + listing.permalink}}' target="_blank") {{listing.comments}} comments
